html {
    background-color: rgb(32, 33, 36);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.upper {
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.big_box_container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.long_rects1 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.long_rects2 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-end;
}

.big_box {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_ball {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-color: aliceblue;
    background-color: aliceblue;
}

.small_box_container {
    height: 450px;
    width: 26%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}


.small_box {
    height: 140px;
    width: 170px;
    background-color: rgb(61, 64, 67);
    border-radius: 10%;
    display: flex;
    flex-grow: 0.3;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
}

.small_box_top {
    height: 25%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px white solid; */
}

.small_box_middle {
    height: 45%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px white solid; */
}

.small_box_bottom {
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px white solid; */
}

.small_ball {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: azure;
}

.middle_box {
    height: 140px;
    width: 200px;
    border: 1px solid gray;
    background-color: rgb(61, 64, 67);
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.lower {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.lower_box1 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.lower_box2 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lower_box3 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mic_background {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 55, 58);
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 64, 67);
}

.long_button {
    width: 60px;
    height: 50px;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 81, 64)
}